<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

<h2>A Simple Demo for Arkham Bot</h2>

<button onclick="location.href='1D4'">1D4</button>
<button onclick="location.href='1D6'">1D6</button>
<button onclick="location.href='1D8'">1D8</button>
<button onclick="location.href='1D20'">1D20</button>
<button onclick="location.href='1D100'">1D100</button>

</body>
</html>
